body {
  font-family: 'Public Sans', sans-serif;

  --colour-health:       #378ADD;
  --colour-food:         #7F77DD;
  --colour-connectivity: #D4537E;
  --colour-parks:        #639922;
  --colour-dining:       #D85A30;
  --colour-education:    #EF9F27;
  --colour-fitness:      #1D9E75;
  --colour-other:        #888780;

}

.font-inter {
  font-family: 'Inter', sans-serif;
}

#map {
  width: 100%;
  height: 100%;
}

.custom-shadow {
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.hidden-view {
  display: none !important;
}
